@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.row {
  margin-right: 0;
}

body {
  font-family: Michroma, serif;
  background: linear-gradient(90deg, #fa00ff 0%, #000000 95%);
}

p {
  color: rgb(0, 255, 26);
}

.nav-link {
  color: rgb(144, 144, 144);
}

.navbar-nav .nav-link.active {
  color: rgb(209, 87, 223);
}

.navbar-brand > img {
  width: 49px;
}

.navbar-toggler {
  color: rgb(201, 88, 246);
}

.row .site-bar > p {
  color: #ff00fb;
}

.line {
  border-style: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: #fa00ff;
  margin-bottom: 1.5rem;
}

.main-carousel {
  display: grid;
  grid-template-columns: rapeat(12, 1fr);
  grid-template-rows: repeat(4);
}

.photo-carousel {
  grid-column: 1/13;
  grid-row: 1/5;
}

.text-carousel {
  margin-left: 4rem;
  margin-right: 34rem;
  grid-column: 8/13;
  grid-row: 4/5;
}

.text-carousel {
  color: rgb(255, 255, 255);
}

.text-carousellast {
  margin-left: 4rem;
  margin-right: 34rem;
  grid-column: 8/13;
  grid-row: 4/5;
  color: rgb(255, 255, 255);
}

.footer-text {
  color: rgb(106, 106, 106);
  margin: auto auto;
}

footer {
  background: linear-gradient(270deg, #fa00ff 0%, #000000 95%);
}

.btn-outline-primary {
  color: chartreuse;
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-animation {
  animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@media (max-width: 992px) {
  #random-text {
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 734px) {
  .text-carousel {
    margin: 0;
  }
  .carousel-indicators {
    display: none;
  }
}
